html, body {
    height: 100%;
}

body {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

main {
    flex: 1 0 auto;
}

.standard-section {
    max-width: 1200px;
    margin-inline: auto;
    padding: 1rem;
}

.standard-section h1,
.standard-section h2,
.standard-section h3,
.standard-section h4,
.standard-section h5,
.standard-section h6 {
    margin-block: 8px;
    text-align: center;
    font-family: 'Inter', system-ui, sans-serif;
    font-weight: 600;
    color: #145E5C;
}

.standard-section p {
    margin-block: 8px;
    text-align: justify;
}